*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  word-break: break-word;
  text-align: center;
}
a{
  text-decoration: none;
  color: white;

}
  .active{
    color: red;
  }
  .homepage, .services{
    margin: 10px auto;
    width: 70%;
  }
  .instructors{
    box-shadow: 0 0 2px 1px dimgray;
    margin: 10px auto;
    padding: 10px;
  }
